* {
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    /* height: 100vh; */
}

main>h1 {
    text-align: center;
    text-transform: uppercase;
}

.istrce {
    color: blue;
}

.sec1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

li>span.bold {
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
}

p>.bold {
    font-weight: bold;
}

@media(max-width: 900px) {
    main {
        flex-direction: column;
    }
}